# This is Git's per-user configuration file.
[user]
	name = SamuGG
	email = SamuGG@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore_global
	editor = nano
[init]
	defaultBranch = main
[merge]
 	tool = code
[mergetool "code"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED